@font-face {
    font-family: Minecraft;
    src: url(../assets/fonts/Minecraft.ttf);
}

body {
    margin: 0;
    background-color: #F5F5F5;
    font-family: Minecraft;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    margin: 0;
    background-color: #ECEFEC;
    color: #1A1A1D;
    font-family: Minecraft;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.507);
}

select {
    color: #1A1A1D;
    font-family: Minecraft;
    width: auto;
    margin-left: 20px;
    font-size: 25px;
}

#aShulk, #aLC {
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #1A1A1D;
    font-size: 25px;
}

#aShulk:hover, #aLC:hover {
    text-decoration: underline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 20px;
}

.switch #Dark {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #2c2c2c;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: #F5F5F5;
    transition: 0.4s;
    border-radius: 50%;
}


#Dark:checked + .slider:before {
    transform: translateX(26px);
}

#X {
    margin-top: 50px;
    font-size: 20px;
    width: 300px;
    text-align: right;
    font-family: Minecraft;
}

button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #1A1A1D;
    color: #F5F5F5;
    font-size: 20px;
    font-family: Minecraft;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #2c2c31;
}

img {
    margin-top: 20px;
    float: left;
    margin-left: 450px;
}

footer {
    background-color: #ECEFEC;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.507);
    padding: 20px 20px 20px 20px;
    bottom: 0;
    position: absolute;
    width: 97.8%;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

h1 {
    margin-right: 400px;
}

#decimalResult {
    margin-top: 100px;
}

#result {
    margin-top: 80px;
}

body.dark {
    background-color: #252324;
    color: #F5F5F5;
}

body.dark header {
    background-color: #1A1A1D;
    color: #ECEFEC;
}

body.dark #aShulk, 
body.dark #aLC {
    color: #ECEFEC;
} 

body.dark button {
    background-color: #FEFFFC;
    color: #2c2c31;
}

body.dark button:hover {
    background-color: #dcddda;
}

body.dark select {
    background-color: #2c2c31;
    color: #ECEFEC;
}

body.dark .slider:before {
    background-color: #2c2c31;
}

body.dark .slider {
    background-color: #F5F5F5;
}

body.dark footer {
    background-color: #1A1A1D;
    color: #ECEFEC;
}

body, header, footer, .slider, .slider:before, button {
    transition: all 0.3s ease;
}